.buy-content,
.rent-content {
    flex-grow: 1;
    width: calc(100vw - 310px);
    height: calc(100vh - 150px);
    /* Allow content to take up the remaining space */
    background-color: #c4cac3;

    position: fixed;
    /* Fix it to the bottom-right */
    bottom: 10px;
    /* 20px gap from the bottom */
    right: 20px;
    /* 20px gap from the right */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
        /* Shadow on bottom-right */
        -4px -4px 8px rgba(0, 0, 0, 0.3),
        /* Shadow on top-left */
        0px 0px 15px rgba(0, 0, 0, 0.2);
    /* Soft, central shadow for depth */
    border-radius: 15px;
    overflow: scroll;
    overflow-x: hidden;
}


.buy-content::-webkit-scrollbar,
.rent-content::-webkit-scrollbar {
    width: 8px;
}

.buy-content::-webkit-scrollbar-thumb,
.rent-content::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
    border-radius: 4px;
    /* Round the corners of the thumb */
}

.buy-content::-webkit-scrollbar-thumb:hover,
.rent-content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker color when hovering over the thumb */
}

.buy-content::-webkit-scrollbar-track,
.rent-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Set the color of the track (area behind the thumb) */
    border-radius: 4px;
}

.buy-content::-webkit-scrollbar-corner,
.rent-content::-webkit-scrollbar-corner {
    background: transparent;
    /* Removes corner scrollbar */
}

.game-card {
    display: flex;
    flex-direction: row;

    border: 1px solid grey;
    border-radius: 8px;
    background-color: #61605D;
    box-shadow: 0 2px 8px rgba(109, 92, 92, 0.1);
    padding: 16px;
    max-width: 100%;
    margin: 10px 20px 20px 20px;
}

.game-image img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
}

.game-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: calc(100% - 170px - 20px);
    position: relative;
}

.game-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 8px 0;
    color: white;
    z-index: 2;

}

.game-publisher {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: white;
    z-index: 2;

}

.game-genre {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    color: white;
    z-index: 2;

}

.game-condition-price {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;

}

.game-condition {
    font-size: 1.2rem;
    color: #4CAF50;
    margin-top: 5px;
    padding-top: 100px;
}

.game-price {
    font-size: 1.7rem;
    font-weight: bold;
    color: #E53935;
}

.game-availability {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    font-weight: bold;
    color: #2196F3;
    z-index: 2;
    /* Ensures availability is on top */
}


.no-games {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E53935;
    font-size: 1.5rem;
}