* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 120px;
    position: fixed;
    padding-right: 20px;
}

.side-logo {
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #c4cac3;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 8px rgba(0, 0, 0, 0.3),
        0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.buttons {
    width: calc(100% - 250px);
    background-color: #c4cac3;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 8px rgba(0, 0, 0, 0.3),
        0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
}

.buttons button {
    width: 80px;
    height: 50px;
    font-size: 16px;
    border: none;
    background-color: #553b2a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 50px;
    margin-top: 20px;
}

/* Move the logout button to the far right */
.buttons button:last-child {
    margin-left: auto;
    margin-right: 40px;

}

.buttons button:last-child:hover {
    background-color: rgb(233, 2, 21);
}

.buttons button:hover {
    background-color: #d88c00;
    transform: scale(1.1);
}