* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #181a2f;
    /* Dark background */
    --fg: #e5e5e5;
    /* Light text */
    --input-bg: #37415c;
    /* Dark input background */
    --button-bg: #242e49;
    /* Button color */
    --button-hover: #242e49;
    /* Button hover color */
    --shadow-color: #710000;
    /* Shadow color */
    --border-color: #a04747;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}

.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-wrapper {
    background-color: #343131;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    border: 1px solid var(--border-color);
    width: 100%;
    text-align: center;
    box-shadow:
        0 0 20px rgba(84, 22, 43, 0.8);
    position: relative;

    transition: box-shadow 0.5s ease-in-out;


}

.login-form-wrapper:hover {
    box-shadow:
        0 0 300px rgba(84, 22, 43, 0.8),
        /* Deep red glow */
        0 0 600px rgba(180, 24, 45, 0.6);
}

.login-form-wrapper::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;

    bottom: -10px;
    border-radius: 12px;
    box-shadow:
        0 0 30px rgba(84, 22, 43, 0.8),
        /* Deep red glow */
        0 0 60px rgba(180, 24, 45, 0.6);
    /* Bright red glow */

    z-index: -1;
}


.login-page-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--fg);
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.login-container h2 {
    color: var(--fg);
    font-size: 1.5rem;
    font-family: 'Neucha';
    margin-bottom: 1.5rem;
}

.login-logo {
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    background-color: var(--bg);
    color: var(--fg);
    font-size: 1rem;
    transition: box-shadow 0.3s;
}

.login-container input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--button-bg);
}

.login-container .loginSubmitButton {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: var(--button-bg);
    color: var(--fg);
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container .loginSubmitButton:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
}

.login-container input::placeholder {
    color: #bbb;
}

.signUpRoute {
    background: none;
    border: none;
    cursor: pointer;
    color: #e5e5e5;
    padding-top: 10px;
    display: inline;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.5s ease;
}

.signUpRoute:hover {
    color: #6b5b95;
    transform: translateY(-2px);
}