.sidebar-container {
    width: 250px;
    height: calc(100vh - 150px);
    /* Ensure the sidebar height is adjusted for 150px gap */
    position: fixed;
    top: 140px;
    /* Position 150px below the top of the viewport */
    left: 20px;
    background-color: #c4cac3;
    border-right: 1px solid #333;
    padding: 20px;
    overflow-y: auto;
    /* Allow scrolling if content overflows */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
        /* Shadow on bottom-right */
        -4px -4px 8px rgba(0, 0, 0, 0.3),
        /* Shadow on top-left */
        0px 0px 15px rgba(0, 0, 0, 0.2);
    /* Soft, central shadow for depth */
    border-radius: 15px;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.filter-section input,
.filter-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}